{% extends './base.html' %} {% block body%}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            {% with messages = get_flashed_messages() %} {% if messages %} {% for
            message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <div class="card card-body">
                <form action="/add_vehiculo" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-group">
                        <input type="text" name="plate" placeholder="Placa" class="form-control" required />
                    </div>
                    <!-- The second value will be selected initially -->
                    <select name="parking_id" id="parking_id" class="form-select" aria-label="Default select example">
                        <option selected>Selecciona Estacionamiento</option>
                        <option value="1">Estacionamiento A</option>
                        <option value="2">Estacionamiento B</option>
                        <option value="3">Estacionamiento C</option>
                        <!-- Aqui se va a iterar la lista de estacionamientos y con esa se construira 
                            cada una de las options-->
                        <option value=""></option>
                    </select>

                    <div class="form-group">
                        <button type="submit" class="w-100 btn btn-success btn-block my-2">Registrar</button>
                    </div>
                    <div>
                        <button  type="button" class="w-100 btn btn-md btn-info my-2" onclick="location.href='/menu_vehiculos'">Regresar</button>
                    </div>
                    <a class="btn btn-secondary" href="{{ url_for('logout')}}">CErrar secion</a>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}