<!DOCTYPE html>
<html lang="es">
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block body %}
<h1></h1>

{% with messages = get_flashed_messages() %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div >
        <section id="tablas-admi">
            <p id="espacio-tablas-admi"></p>
            <h1></h1>
            <br>
            <table class="table table-bordered table-hover">
                <thead id="encabezado" class="fondoT">
                    <th scope="col"> Nombre:</th>
                    <th scope="col"> Correo:</th>
                    <th scope="col"> Usuario:</th>
                    <th scope="col"> Contraseña:</th>
                    {%if(rol == 'SUPER-ADMIN') %}
                    <td>Operaciones</td>
                {%endif%}
                    
                </thead>
                <tbody>
                    <tr >
                        {% for user in listt_users %}
                        <tr class="fondoclaro">
                            <td>{{user.1}}</td>
                            <td>{{user.2}}</td>
                            <td>{{user.3}}</td>
                            <td>{{user.4}}</td>
                            {%if(rol == 'SUPER-ADMIN') %}
                                <td>
                                    <a class="btn btn-primary" href="/lista_users/edit/{{ user.0 }}">Editar</a>
                                    <a class="btn btn-danger btn-delete" href="/lista_users/delete/{{ user.0 }}">Eliminar</a>
                                </td>
                            {%endif%}
                        </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        
    </div>
</div>
<a class="btn btn-secondary" href="{{ url_for('logout')}}">Logout</a>
{% endblock %}