.lineote{
    background: #606060;
    width: 100%;
    height: 5%;

}
.fondoT{
    background: hsla(0,0%, 20%, .80);
    color: #fff;
    backdrop-filter: blur(10px);
    
}
.fondoclaro{
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(100px);
    
}

.table{

    
    border-color: #000;
    column-rule-color: #000;
    
}
 .espacio{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    padding-bottom: 5px;
    margin-bottom: 500px;
 }